<a href="https://colab.research.google.com/github/Andres1274/SQL-Practice-DB/blob/main/SQLbolt%20Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Installing SQL

In [3]:
!pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.10/dist-packages (1.1.1)

In [4]:
%load_ext sql

#2. Clone Git repository

In [11]:
!git clone https://github.com/Andres1274/SQL-Practice-DB

Cloning into 'SQL-Practice-DB'...
remote: Enumerating objects: 11, done.
remote: Counting objects: 100% (11/11), done.
remote: Compressing objects: 100% (9/9), done.
remote: Total 11 (delta 1), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (11/11), 158.28 KiB | 15.83 MiB/s, done.
Resolving deltas: 100% (1/1), done.

In [12]:
%sql sqlite:////content/SQL-Practice-DB/call_center_database.db

In [15]:
%sql sqlite:////content/SQL-Practice-DB/SQLbolt_Vehicles.db

In [16]:
%%sql
SELECT * FROM vehicles

   sqlite:////content/SQL-Practice-DB/SQLbolt
 * sqlite:////content/SQL-Practice-DB/SQLbolt_Vehicles.db
   sqlite:////content/SQL-Practice-DB/call_center_database.db
   sqlite:///SQL-Practice-DB/SQLBolt
   sqlite:///SQLbolt
Done.

[(1, 'Ford Focus', 4, 4, 'Sedan'),
 (2, 'Tesla Roadster', 4, 2, 'Sports'),
 (3, 'Kawakasi Ninja', 2, 0, 'Motorcycle'),
 (4, 'McLaren Formula 1', 4, 0, 'Race'),
 (5, 'Tesla S', 4, 4, 'Sedan')]